/* Requisitos:

- La tarjeta debe tener un margen de 50px para separarla de los bordes de la ventana del navegador.
- La tarjeta debe tener un borde de 5px de grosor y de color a tu elección.
- La imagen de perfil debe estar centrada en la tarjeta y tener un padding de 20px.
- El nombre debe tener un padding superior e inferior de 10px y un padding izquierdo y derecho de 20px.
- La descripción debe tener un padding de 20px. */

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: whitesmoke;
}
section {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
.id_card {
  height: 525px;
  width: 470px;
  box-sizing: border-box;
  margin: 50px auto;
  border: 5px solid blue;
  border-radius: 8%;
  background-color: rgba(0, 255, 255, 0.25);
}
.id_card img[src='https://www.liveabout.com/thmb/F5lfgFptU9DNTDCT-xNEtot0lQ0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/EP2-IA-60435_R_8x10-56a83bea3df78cf7729d314a.jpg']
{
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 28%;
}
.id_card h2 {
  font-size: 26px;
  padding: 10px 20px;
}
.id_card h2 hr {
  color: black;
  height: 1px;
}
.id_card p {
  font-size: 16px;
  padding: 20px;
  text-align: left;
}
